.parallax {
    background-image: url("../img/parallax.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: #f2f2f2;
    font-family: 'Heebo', sans-serif;
    font-size:xx-large;
    border-bottom: 2px solid white;
}
